* {
  margin: 0;
  padding: 0;
}

html {
background-color: #8CADA7;
font-family: georgia, serif;
font-size: 16px;
color: #110B11
}

main {
  height: 800px;
  width: 500px;
  justify-content: center;
  align-items: center;
}  

img {
  width: 100%;
  height: auto;
}

h1 {
text-transform: uppercase;
letter-spacing: 5px;
}

.author {
  text-transform: lowercase;
  font-style: italic;
  font-size: 0.75;
}
