* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #8CADA7;
  font-family: georgia, serif;
  font-size: 16px;
  color: #582B11;
}

main {
  background-color: #F5ECCD;
  box-sizing: border-box;
  height: 500px;
  width: 500px;
  margin: auto;
  border-radius: 20px
}  

img {
  width: 100%;
  height: auto;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #6F8F72;
  margin: auto;
  padding: 10px;
}

p {
  margin: auto;
  padding: 20px;

.author {
  text-transform: lowercase;
  font-style: italic;
  font-size: 0.75;
  opacity: 0.75;
}
